{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "eslint-plugin-html",
    "eslint-plugin-css-modules",
    "simple-import-sort",
    "import"
  ],
  "settings": {
    "html/report-bad-indent": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:css-modules/recommended"
  ],
  "ignorePatterns": ["webpack.*.js", "/cypress/*", "/dist/*.js"],
  "rules": {
    "no-console": ["error", { "allow": ["error"] }],
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "prefer-destructuring": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "yoda": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}