doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible, refresh", content="IE=edge")
    meta(
      http-equiv="Content-Security-Policy",
      content="script-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com https://connect.facebook.net https://www.facebook.com https://web.facebook.com'unsafe-inline'; object-src 'self'"
    )
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    //- Include metatags
    +metatags(robots, canonical, imageUrl, pageName)
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Oswald:wght@300;400;600&display=swap"
    )
  body 
    include navbar
    block content
