.cookie-banner#cookie-banner
    p Utilizamos cookies propias y de terceros para fines funcionales dirigidos a permitir la correcta navegación por nuestra página web, guardar información de sus preferencias de usuario, analizar cómo interactúa con nosotros, medir qué uso hace de los servicios que le proporcionamos y poder mejorarlos.
    .accept-cookies-container
        p Para consentir su utilización y confirmar que ha leído la información proporcionada, pulse el botón “Acepto”. Puede obtener más información consultando nuestra 
            a(href="/cookies.html") Política de Cookies
        button#accept-cookies.accept-cookies-btn Acepto