.instagram-button
  a#instagram-button(
    href="https://www.instagram.com/talleresdela/",
    rel="noopener noreferrer nofollow",
    target="_blank"
  )
    img(src=require("./img/instagram-icon.png"), alt="Instagram icon")
