<!-- WHATSAPP FLOATING BUTTON -->
<div class="wap-mini-button wap-active" id="wap-mini-button">
    <img src="img/wap_whatsapp.png" alt="WhatsApp icon" id="wap-button-img">
</div>
<div class="wap-box wap-inactive" id="wap-box">
    <div class="wap-box-bar" id="wap-box-bar">
        <div class="wap-toggle-button" id="wap-toggle-button">
            <img src="img/wap_close.png" id="wap-button-img">
        </div>
        <div class="wap-info-message" id="wap-info-message">
            <p class="wap-info-title" id="wap-title"></p>
            <p class="wap-info-subtitle" id="wap-subtitle"></p>
        </div>
    </div>
    <div class="wap-contact-data wap-hidden" id="wap-contact-data">
        <a href="#" class="wap-contact-button" id="wap-contact-button" rel="noopener noreferrer nofollow" >
            <img src="img/wap_whatsapp.png" alt="WhatsApp icon">
        </a>
        <p class="wap-timetable-title" id="wap-timetable-title" style="display: none;"></p>
        <p class="wap-timetable-subtitle" id="wap-timetable-subtitle" style="display: none;"></p>
    </div>
</div>